/*initialization of all common values and styles (colors, fonts, sizes and etc)*/
/*@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');*/
/*@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300i,400,700');*/
@import url('https://fonts.googleapis.com/css?family=IM+Fell+English+SC');

body {
  font-size: 1rem;
}

@font-face {
  font-family: 'josefin_sansregular';
  src: url('../assets/fonts/josefinsans-regular-webfont.woff2') format('woff2'),
  url('../assets/fonts/josefinsans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'josefin_sanslight_italic';
  src: url('../assets/fonts/josefinsans-lightitalic-webfont.woff2') format('woff2'),
  url('../assets/fonts/josefinsans-lightitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'josefin_sansbold';
  src: url('../assets/fonts/josefinsans-bold-webfont.woff2') format('woff2'),
  url('../assets/fonts/josefinsans-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'josefin_sanslight';
  src: url('../assets/fonts/JosefinSans-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  /*variables for background colors*/
  --themeDarkBlueColor: #10222b;
  --themeGreenColor: #94aa63;
  --themeWhiteColor: #f6ffe0;
  --themeLightBlueColor: #e2f0d6;
  --themeRedColor: #8a0707;

  /*variables for font colors*/
  --lightFontColor: #ffffff;
  --darkFontColor: #10222b;

  /*dimension variables*/
  --maxSectionWidth: 1365px;

  /*font variables*/
 /* --paragraphFont: 'Josefin Sans', sans-serif;*/
  --paragraphFont: 'josefin_sansregular', sans-serif;
  --paragraphFontItalic: 'josefin_sanslight_italic', sans-serif;
  --paragraphFontBold: 'josefin_sansbold', sans-serif;
  --paragraphFontLight: 'josefin_sanslight', sans-serif;
  --titleFont: 'IM Fell English SC', serif;
}

.container {
  max-width: var(--maxSectionWidth);
  margin: 0 auto;
}