<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interlock Media</title>
</head>
<body>
<header>
    <div class="header container">
        <div class="header__logo">
            <img class="header__logo__img" src="../assets/images/logo.png">
            <h4>Interlock Media</h4>
        </div>
        <nav>
            <ul class="header__nav">
                <li class="header__nav__item"><a>Donate</a></li>
                <li class="header__nav__item"><a href="volunteer_page.html">Volunteer</a></li>
                <li class="header__nav__item"><a>Login | Registration</a></li>
            </ul>
        </nav>
    </div>
</header>

<!--Intro Section-->
<section class="intro">
    <img class="intro__img" src="../assets/images/video_background.jpg">
    <div class="intro__text">
        <img class="intro__text__logo" src="../assets/images/logo_big.png">
        <h1>Interlock Media</h1>
    </div>
</section>

<!--Maxim Section-->
<section class="maxim">
    <p>Confronting Climate Change through Cinema</p>
</section>

<!--Mission Section-->
<section class="mission">
    <input type="radio" name="radio-btn" id="switch-scene_1" checked/>
    <article class="mission__scene mission__scene--showing">
        <img class="mission__scene__img" src="../assets/images/mission_statement_first_scene_background.jpg">
        <p class="mission__scene__text">We could tell you “well, we warned you” about global warming. After all,
            for twenty
            years we’ve churned out film on climate change and human rights.</p>
    </article>
    <input type="radio" name="radio-btn" id="switch-scene_2"/>
    <article class="mission__scene">
        <img class="mission__scene__img" src="../assets/images/mission_statement_second_scene_background.jpg">
        <p class="mission__scene__text">But what good is “I told you so” on a burning planet?</p>
    </article>
    <input type="radio" name="radio-btn" id="switch-scene_3"/>
    <article class="mission__scene">
        <img class="mission__scene__img" src="../assets/images/mission_statement_third_scene_background.jpg">
        <p class="mission__scene__text">At Interlock we’re all about combating climate change enlisting the very best of a filmmaker's craft.</p>
    </article>
    <input type="radio" name="radio-btn" id="switch-scene_4"/>
    <article class="mission__scene">
        <img class="mission__scene__img" src="../assets/images/mission_statement_final_scene_background.jpg">
        <div class="mission__scene__text__block">
            <p>We could tell you “well, we warned you” about global warming. After all, for twenty years we’ve churned out film on climate change and human rights.</p>
            <p>But what good is “I told you so” on a burning planet?</p>
            <p>At Interlock we’re all about combating climate change enlisting the very best of a filmmaker's craft.</p>
        </div>
    </article>

    <div class="mission__switch">
        <label for="switch-scene_1" ></label>
        <label for="switch-scene_2" ></label>
        <label for="switch-scene_3" ></label>
        <label for="switch-scene_4" ></label>
    </div>
</section>


<!--Featured Films Section-->
<section class="featured-films">
    <article>
        <img src="../assets/images/featured_film_background.jpg">
        <div class="featured-films__description">
            <h2 class="featured-films__description__heading">Vivamus id Leo Tempus</h2>
            <p class="featured-films__description__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Integer eleifend nunc tortor, eu cursus sem tempor vitae. Integer feugiat, justo.</p>
            <p class="featured-films__description__year">[year]</p>
            <div class="featured-films__description__links">
                <a class="featured-films__description__links__play">Play Trailer</a>
                <a class="featured-films__description__links__purchase">Purchase</a>
            </div>
            <div class="featured-films__description__nav">
                <a><span> < </span>previous</a>
                <a>next<span> > </span></a>
            </div>
        </div>
    </article>
</section>

<!--Contributors Section-->
<section class="contributors">

    <h2>CONTRIBUTORS</h2>
    <div class="contributors__imgdiv">
        <img class="contributors__imgdiv__img" src="../assets/images/contributors.jpg" alt="contributors">
    </div>

</section>

<!--Get Involved Section-->
<section class="getInv">

    <h2>GET INVOLVED...</h2>
    <div class="getInv__div">
        <div class="getInv__div__item">
            <h3>DONATE</h3>
            <P>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
                et ea rebum. Stet clita kasd gubergren,</P><br>

            <button class="getInv__div__item__donatebtn">Donate</button>
        </div>
        <div class="getInv__div__item">
            <h3>VOLUNTEER</h3>
            <P>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
                et ea rebum. Stet clita kasd gubergren,</P><br>
            <button class="getInv__div__item__learnMorebtn">Learn More</button>
        </div>
    </div>
</section>
<footer>
    <div class="footer container">
        <div class="footer__icon">
            <a href="https://vimeo.com/interlock"> <img class="footer__icon__img" src="../assets/images/vimeo.png"></a>
            <a href=""> <img class="footer__icon__img" src="../assets/images/youtube.png"></a>
            <a href="https://twitter.com/interlockmedia"> <img class="footer__icon__img"
                                                               src="../assets/images/twitter.png"></a>
            <a href="https://www.linkedin.com/company-beta/11134113/"> <img class="footer__icon__img"
                                                                            src="../assets/images/linkedin.png"></a>
        </div>
    </div>
</footer>
</body>
</html>