<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <title>Interlock Media</title>
</head>
<body>
<svg xmlns="http://www.w3.org/2000/svg" display="none">
    <!--<symbol id="show-more-btn" x="0px" y="0px" viewBox="0 0 284.936 284.936">-->
	<!--<g>-->
		<!--<path d="M277.515,135.9L144.464,2.857C142.565,0.955,140.375,0,137.9,0c-2.472,0-4.659,0.955-6.562,2.857l-14.277,14.275    c-1.903,1.903-2.853,4.089-2.853,6.567c0,2.478,0.95,4.664,2.853,6.567l112.207,112.204L117.062,254.677    c-1.903,1.903-2.853,4.093-2.853,6.564c0,2.477,0.95,4.667,2.853,6.57l14.277,14.271c1.902,1.905,4.089,2.854,6.562,2.854    c2.478,0,4.665-0.951,6.563-2.854l133.051-133.044c1.902-1.902,2.851-4.093,2.851-6.567S279.417,137.807,277.515,135.9z" fill="#FFFFFF"/>-->
		<!--<path d="M170.732,142.471c0-2.474-0.947-4.665-2.857-6.571L34.833,2.857C32.931,0.955,30.741,0,28.267,0s-4.665,0.955-6.567,2.857    L7.426,17.133C5.52,19.036,4.57,21.222,4.57,23.7c0,2.478,0.95,4.664,2.856,6.567L119.63,142.471L7.426,254.677    c-1.906,1.903-2.856,4.093-2.856,6.564c0,2.477,0.95,4.667,2.856,6.57l14.273,14.271c1.903,1.905,4.093,2.854,6.567,2.854    s4.664-0.951,6.567-2.854l133.042-133.044C169.785,147.136,170.732,144.945,170.732,142.471z" fill="#FFFFFF"/>-->
	<!--</g>-->
    <!--</symbol>-->
    <symbol id="show-more-btn" viewBox="3 0 10 28">
        <path d="M9.297 15c0 0.125-0.063 0.266-0.156 0.359l-7.281 7.281c-0.094 0.094-0.234 0.156-0.359 0.156s-0.266-0.063-0.359-0.156l-0.781-0.781c-0.094-0.094-0.156-0.234-0.156-0.359s0.063-0.266 0.156-0.359l6.141-6.141-6.141-6.141c-0.094-0.094-0.156-0.234-0.156-0.359s0.063-0.266 0.156-0.359l0.781-0.781c0.094-0.094 0.234-0.156 0.359-0.156s0.266 0.063 0.359 0.156l7.281 7.281c0.094 0.094 0.156 0.234 0.156 0.359zM15.297 15c0 0.125-0.063 0.266-0.156 0.359l-7.281 7.281c-0.094 0.094-0.234 0.156-0.359 0.156s-0.266-0.063-0.359-0.156l-0.781-0.781c-0.094-0.094-0.156-0.234-0.156-0.359s0.063-0.266 0.156-0.359l6.141-6.141-6.141-6.141c-0.094-0.094-0.156-0.234-0.156-0.359s0.063-0.266 0.156-0.359l0.781-0.781c0.094-0.094 0.234-0.156 0.359-0.156s0.266 0.063 0.359 0.156l7.281 7.281c0.094 0.094 0.156 0.234 0.156 0.359z" fill="#FFFFFF"></path>
    </symbol>
    <symbol id="show-less-btn" viewBox="3 0 10 28">
        <path d="M9.797 21.5c0 0.125-0.063 0.266-0.156 0.359l-0.781 0.781c-0.094 0.094-0.234 0.156-0.359 0.156s-0.266-0.063-0.359-0.156l-7.281-7.281c-0.094-0.094-0.156-0.234-0.156-0.359s0.063-0.266 0.156-0.359l7.281-7.281c0.094-0.094 0.234-0.156 0.359-0.156s0.266 0.063 0.359 0.156l0.781 0.781c0.094 0.094 0.156 0.234 0.156 0.359s-0.063 0.266-0.156 0.359l-6.141 6.141 6.141 6.141c0.094 0.094 0.156 0.234 0.156 0.359zM15.797 21.5c0 0.125-0.063 0.266-0.156 0.359l-0.781 0.781c-0.094 0.094-0.234 0.156-0.359 0.156s-0.266-0.063-0.359-0.156l-7.281-7.281c-0.094-0.094-0.156-0.234-0.156-0.359s0.063-0.266 0.156-0.359l7.281-7.281c0.094-0.094 0.234-0.156 0.359-0.156s0.266 0.063 0.359 0.156l0.781 0.781c0.094 0.094 0.156 0.234 0.156 0.359s-0.063 0.266-0.156 0.359l-6.141 6.141 6.141 6.141c0.094 0.094 0.156 0.234 0.156 0.359z" fill="#FFFFFF"></path>
    </symbol>
</svg>
<header>
    <div class="header container">
        <div class="header__logo">
            <a href="#">
                <img class="header__logo__img" src="../assets/images/logo.png">
                <h4>Interlock Media</h4>
            </a>
        </div>
        <nav>
            <ul class="header__nav">
                <li class="header__nav__item"><a onclick="document.getElementById('id01').style.display='flex'" style="width:auto;">Donate</a></li>
                <li class="header__nav__item"><a href="volunteer_page.html">Volunteer</a></li>
                <li class="header__nav__item"><a href="registration_page.html">Login | Registration</a></li>
            </ul>
        </nav>
    </div>
</header>

<!--donate modal window-->
<div id="id01" class="modal">
    <form class="modal__content animate" action="https://www.paypal.com/cgi-bin/webscr" method="post">
        <input type="hidden" name="cmd" value="_xclick">
        <input type="hidden" name="business" value="bookkeeper.interlock@gmail.com">
        <input type="hidden" name="item_name" value="Interlock Media">
        <input type="hidden" name="amount" value="amount">
        <input type="hidden" name="no_shipping" value="1">
        <input type="hidden" name="no_note" value="1">
        <input type="hidden" name="currency_code" value="USD">
        <input type="hidden" name="tax" value="0">
        <input type="hidden" name="bn" value="PP-DonationsBF">
        <input id="type" type="hidden" name="expType" value="mini">

        <div class="imgcontainer">
            <span onclick="document.getElementById('id01').style.display='none'" class="modal__content__close" title="Close">&times;</span>
        </div>
        <div class="container">
            <h2>Give to Interlock Media</h2>
            <p>By supporting film and media works on climate justice, you bolster the rights of indigenous peoples and
                religious understanding. Your contributions also help train the next generation of progressive media makers.</p>
        </div>
        <div class="container">
            <label><h4>Make a Secure Online Gift</h4></label>
                <ul class="donate-now">
                    <li>
                        <input type="radio" id="a25" name="amount" value="25"/>
                        <label for="a25">$25</label>
                    </li>
                    <li>
                        <input type="radio" id="a50" name="amount" value="50"/>
                        <label for="a50">$50</label>
                    </li>
                    <li>
                        <input type="radio" id="a75" name="amount" value="75" />
                        <label for="a75">$75</label>
                    </li>
                    <li>
                        <input type="radio" id="a100" name="amount" value="100"/>
                        <label for="a100">$100</label>
                    </li>
                    <li>
                        <input type="radio" id="a200" name="amount" value="200" />
                        <label for="a200">$200</label>
                    </li>
                    <li>
                        <input type="radio" id="a500" name="amount" value="500"/>
                        <label for="a500">$500</label>
                    </li>
                    <li>
                        <input type="radio" id="a1000" name="amount" value="1000"/>
                        <label for="a1000">$1000</label>
                    </li>
                    <li>
                        <input type="radio" id="a2000" name="amount" value="2000"/>
                        <label for="a2000">$2000</label>
                    </li>
                </ul>
                <label>
                    <input type="number" name="amount" class="text" title="Other Amount" placeholder="Other: $0.00" id="myMessage"></label>

            <button class="submitbtn" type="submit"><img src="../assets/images/PaypalDonate.png" /></button>
            <div class="imgcontainer">
                <img class="imgcontainer__paypal__logo" alt="paypal" border="0" src="../assets/images/paypal_logo.jpg">
                <p>Your donation will not be submitted until you have had a chance to confirm your details and click through the PayPal
                    screens that follow.Tax Identification Number (also known as Employee Identification Number or EIN) is
                    04 3196-958.and we are a 501(c-3) organization. Your donations are tax-deductible to the maximum extent of the law,
                    and your contribution will be acknowledged so that you will have a receipt for filing</p>
            </div>
            </div>

        <div class="container__cancel">
            <button type="button" onclick="document.getElementById('id01').style.display='none'" class="container__cancel__cancelbtn">Cancel</button>
        </div>
    </form>

</div>

<!--Intro Section-->
<section class="intro">
    <img class="intro__img" src="../assets/images/video_background.jpg">
    <div class="intro__text">
        <img class="intro__text__logo" src="../assets/images/logo_big.png">
        <h1>Interlock Media</h1>
    </div>
</section>


<!--Maxim Section-->
<section class="maxim">
    <p>Confronting Climate Change through Cinema</p>
</section>

<!--Mission Section-->
<section class="mission">

    <article class="mission__scene mission__scene--showing">
        <img class="mission__scene__img" src="../assets/images/mission_statement_first_scene_background.jpg">
        <p class="mission__scene__text">We could tell you “well, we warned you” about global warming. After all,
            for twenty
            years we’ve churned out film on climate change and human rights.</p>
    </article>

    <article class="mission__scene">
        <img class="mission__scene__img" src="../assets/images/mission_statement_second_scene_background.jpg">
        <p class="mission__scene__text">But what good is “I told you so” on a burning planet?</p>
    </article>

    <article class="mission__scene">
        <img class="mission__scene__img" src="../assets/images/mission_statement_third_scene_background.jpg">
        <p class="mission__scene__text">At Interlock we’re all about combating climate change enlisting the very best of
            a filmmaker's craft.</p>
    </article>

    <article class="mission__scene">
        <img class="mission__scene__img" src="../assets/images/mission_statement_final_scene_background.jpg">
        <div class="mission__scene__text__block">
            <p>We could tell you “well, we warned you” about global warming. After all, for twenty years we’ve churned
                out film on climate change and human rights.</p>
            <p>But what good is “I told you so” on a burning planet?</p>
            <p>At Interlock we’re all about combating climate change enlisting the very best of a filmmaker's craft.</p>
        </div>
    </article>

    <div class="mission__switch">
        <span class="checked"></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</section>


<!--Featured Films Section-->
<div class="featured-films__divider"></div>
<section class="featured-films">
    <div class="container">
        <div class="featured-films__details-btn">
            <svg class="show-more-btn">
                <use xlink:href="#show-more-btn"></use>
            </svg>
            <svg class="show-less-btn">
                <use xlink:href="#show-less-btn"></use>
            </svg>
        </div>
    <article class="featured-films--showing">
        <div class="featured-films__video-container">
        </div>
        <img class="featured-films__img" src="../assets/images/featured_film_background_1.jpg">
        <span class="featured-films__play_btn" data-playVideo="0"></span>
        <div class="featured-films__description">
            <h2 class="featured-films__description__heading">Is the Climate Fight Over?</h2>
            <p class="featured-films__description__text">Climate Media Engine met with author Wen Stephenson as he
                ponders the notion of why the “climate fight as we know it is over.” </p>
            <p class="featured-films__description__year">[2017]</p>
            <!--<div class="featured-films__description__links">-->
            <!--<a class="featured-films__description__links__play">Play Trailer</a>-->
            <!--<a class="featured-films__description__links__purchase">Purchase</a>-->
            <!--</div>-->
            <div class="featured-films__description__nav">
                <a data-video-index="2"><span> < </span>previous</a>
                <a data-video-index="1">next<span> > </span></a>
            </div>
        </div>
    </article>
    <article>
        <div class="featured-films__video-container">
        </div>
        <img class="featured-films__img" src="../assets/images/featured_film_background_2.jpg">
        <span class="featured-films__play_btn" data-playVideo="1"></span>
        <div class="featured-films__description">
            <h2 class="featured-films__description__heading">POC21 - Makers</h2>
            <p class="featured-films__description__text">This segment gathers information about POC21, an international
                innovation community that wants to better the planet by creating sustainable products.</p>
            <p class="featured-films__description__year">[2016]</p>
            <!--<div class="featured-films__description__links">-->
            <!--<a class="featured-films__description__links__play">Play Trailer</a>-->
            <!--<a class="featured-films__description__links__purchase">Purchase</a>-->
            <!--</div>-->
            <div class="featured-films__description__nav">
                <a data-video-index="0"><span> < </span>previous</a>
                <a data-video-index="2">next<span> > </span></a>
            </div>
        </div>
    </article>
    <article>
        <div class="featured-films__video-container">
        </div>
        <img class="featured-films__img" src="../assets/images/featured_film_background_3.jpg">
        <span class="featured-films__play_btn" data-playVideo="2"></span>
        <div class="featured-films__description">
            <h2 class="featured-films__description__heading">COP21 - German Alternative View</h2>
            <p class="featured-films__description__text">This segment takes place during COP21, the 2015 international
                meeting in Paris to set global climate impact standards.</p>
            <p class="featured-films__description__year">[2016]</p>
            <!--<div class="featured-films__description__links">-->
            <!--<a class="featured-films__description__links__play">Play Trailer</a>-->
            <!--<a class="featured-films__description__links__purchase">Purchase</a>-->
            <!--</div>-->
            <div class="featured-films__description__nav">
                <a data-video-index="1"><span> < </span>previous</a>
                <a data-video-index="0">next<span> > </span></a>
            </div>
        </div>
    </article>
    </div>
</section>

<!--Contributors Section-->
<section class="contributors">

    <h2>CONTRIBUTORS</h2>
    <div class="contributors__imgdiv">
        <img class="contributors__imgdiv__img" src="../assets/images/contributors.jpg" alt="contributors">
    </div>

</section>

<!--Get Involved Section-->
<section class="getInv">

    <h2>GET INVOLVED...</h2>
    <div class="getInv__div">
        <div class="getInv__div__item">
            <h3>DONATE</h3>
            <p>By supporting film and media works on climate justice, you bolster the rights of indigenous peoples and
                religious understanding. Your contributions also help train the next generation of progressive media
                makers.</p><br>

            <button class="getInv__div__item__donatebtn">Donate</button>
        </div>
        <div class="getInv__div__item">
            <h3>VOLUNTEER</h3>
            <p> People of all backgrounds, age groups, and levels of experience are encouraged to apply. Interlock
                especially welcomes individuals with background or interests in filmmaking, radio, anthropology,
                environmental sciences, arts and business administration, and international development studies.
            </p><br>
            <button class="getInv__div__item__learnMorebtn">Learn More</button>
        </div>
    </div>
</section>
<footer>
    <div class="footer container">
        <div class="footer__icon" >
            <a href="https://vimeo.com/interlock"> <img class="footer__icon__img" src="../assets/images/vimeo.png" title="Vimeo" l></a>
            <a href="https://www.youtube.com/channel/UCx1EOQLZ0d56v75LlIMD84A"> <img class="footer__icon__img" src="../assets/images/youtube.png" title="Youtube"></a>
            <a href="http://latestatinterlock.blogspot.com/"><img class="footer__icon__img" src="../assets/images/blogger.png" title="Blogger"></a>
            <a href="https://twitter.com/interlockmedia"> <img class="footer__icon__img" src="../assets/images/twitter.png" title="Twitter"></a>
            <a href="https://www.linkedin.com/company-beta/11134113/"> <img class="footer__icon__img" src="../assets/images/linkedin.png" title="LinkedIn"></a>
        </div>
    </div>
</footer>
</body>
</html>