<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Interlock Media</title>
</head>
<body>
<header>
    <div class="header container">
        <div class="header__logo">
            <img class="header__logo__img" src="../assets/images/logo.png">
            <h4>Interlock Media</h4>
        </div>
        <nav>
            <ul class="header__nav">
                <li class="header__nav__item"><a>Donate</a></li>
                <li class="header__nav__item"><a>Volunteer</a></li>
                <li class="header__nav__item"><a>Login | Registration</a></li>
            </ul>
        </nav>
    </div>
</header>
<form method="get">
    First Name:
    <input type="text" name="firstname"/> <br>
    Last Name:
    <input type="text" name="lastname"/> <br>
    Email Address:
    <input type="text" name="email"/> <br>
    Password:
    <input type="password" name="pw1"/> <br>
    Confirm Password:
    <input type="password" name="pw2"/> <br>
    Volunteer Position:
    <select  name="position">
        <option value="0" > --Select-- </option>
        <option value="ap" >Associate Producer</option>
        <option value="at" >Audio Technician</option>
        <option value="bk" >Bookkeeper</option>
        <option value="ee" >Emerging Editor</option>
        <option value="gw" >Grant Writer</option>
        <option value="pa" >Production Assistant</option>
        <option value="ea" >Emerging Artist</option>
        <option value="ec" >Auction/Event Coordinator</option>
        <option value="po" >Production Office Coordinator</option>
        <option value="ct" >Color Grade Technician</option>
        <option value="sm" >Social Media Coordinator</option>
        <option value="wd" >Web Designer</option>
    </select>
    <br>
    Employee Code:
    <input type="text" name="code"/> <br>
    <input type="submit" name="submit" value="Register" />


</form>

<footer>
    <div class="footer container">
        <div class="footer__icon">
            <a href="https://vimeo.com/interlock"> <img class="footer__icon__img" src="../assets/images/vimeo.png"></a>
            <a href=""> <img class="footer__icon__img" src="../assets/images/youtube.png"></a>
            <a href="https://twitter.com/interlockmedia"> <img class="footer__icon__img"
                                                               src="../assets/images/twitter.png"></a>
            <a href="https://www.linkedin.com/company-beta/11134113/"> <img class="footer__icon__img"
                                                                            src="../assets/images/linkedin.png"></a>
        </div>
    </div>
</footer>


</body>
</html>