<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interlock Media</title>
</head>
<body>
<header>
    <div class="header container">
        <div class="header__logo">
            <img class="header__logo__img" src="../assets/images/logo.png">
            <h4>Interlock Media</h4>
        </div>
        <nav>
            <ul class="header__nav">
                <li class="header__nav__item"><a>Donate</a></li>
                <li class="header__nav__item"><a>Volunteer</a></li>
                <li class="header__nav__item"><a>Login | Registration</a></li>
            </ul>
        </nav>
    </div>
</header>
<section class="job themewhite">
    <div class="job__paradiv">
        <h2>Job Title</h2>
        <div class="job__paradiv__para">
            <div class="job__paradiv__para__desc">
                <p class="bold">Description</p>
                <P>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                    labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
                    et ea rebum. Stet clita kasd gubergren. Et mei aliquip menandri explicari, cum eripuit ponderum persequeris
                    no. Mel te mentitum evertitur. Ut nostrum voluptua luptatum pri. Duo no dolore philosophia. Dicam prompta</P>
            </div>
            <div class="job__paradiv__para__qual">
                <p class="bold">Qualifications</p>
                <P>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                    labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
                    et ea rebum. Stet clita kasd gubergren. Et mei aliquip menandri explicari, cum eripuit ponderum persequeris
                    no. Mel te mentitum evertitur. Ut nostrum voluptua luptatum pri. Duo no dolore philosophia. Dicam prompta</P>
            </div>
        </div>
        <p class="bold">Please send cover letter and resume to <span style="color: yellowgreen">gigs.interlock@gmail.com</span></p>
    </div>
    <div class="job__imgdiv">
        <img class="job__imgdiv__img" src="../assets/images/job.jpg">
    </div>
</section>

<section class="job themelightblue">
    <div class="job__imgdiv">
        <img class="job__imgdiv__img" src="../assets/images/job.jpg">
    </div>
    <div class="job__paradiv">
        <h2>Job Title</h2>
        <div class="job__paradiv__para">
            <div class="job__paradiv__para__desc">
                <p class="bold">Description</p>
                <P>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                    labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
                    et ea rebum. Stet clita kasd gubergren. Et mei aliquip menandri explicari, cum eripuit ponderum persequeris
                    no. Mel te mentitum evertitur. Ut nostrum voluptua luptatum pri. Duo no dolore philosophia. Dicam prompta</P>
            </div>
            <div class="job__paradiv__para__qual">
                <p class="bold">Qualifications</p>
                <P>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                    labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
                    et ea rebum. Stet clita kasd gubergren. Et mei aliquip menandri explicari, cum eripuit ponderum persequeris
                    no. Mel te mentitum evertitur. Ut nostrum voluptua luptatum pri. Duo no dolore philosophia. Dicam prompta</P>
            </div>
        </div>
        <p class="bold">Please send cover letter and resume to <span style="color: yellowgreen">gigs.interlock@gmail.com</span></p>
    </div>
</section>

<section class="job themewhite">
    <div class="job__paradiv">
        <h2>Job Title</h2>
        <div class="job__paradiv__para">
            <div class="job__paradiv__para__desc">
                <p class="bold">Description</p>
                <P>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                    labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
                    et ea rebum. Stet clita kasd gubergren. Et mei aliquip menandri explicari, cum eripuit ponderum persequeris
                    no. Mel te mentitum evertitur. Ut nostrum voluptua luptatum pri. Duo no dolore philosophia. Dicam prompta</P>
            </div>
            <div class="job__paradiv__para__qual">
                <p class="bold">Qualifications</p>
                <P>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                    labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
                    et ea rebum. Stet clita kasd gubergren. Et mei aliquip menandri explicari, cum eripuit ponderum persequeris
                    no. Mel te mentitum evertitur. Ut nostrum voluptua luptatum pri. Duo no dolore philosophia. Dicam prompta</P>
            </div>
        </div>
        <p class="bold">Please send cover letter and resume to <span style="color: yellowgreen">gigs.interlock@gmail.com</span></p>
    </div>
    <div class="job__imgdiv">
        <img class="job__imgdiv__img" src="../assets/images/job.jpg">
    </div>

</section>
<section class="job themelightblue">
    <div class="job__imgdiv">
        <img class="job__imgdiv__img" src="../assets/images/job.jpg">
    </div>
    <div class="job__paradiv">
        <h2>Job Title</h2>
        <div class="job__paradiv__para">
            <div class="job__paradiv__para__desc">
                <p class="bold">Description</p>
                <P>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                    labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
                    et ea rebum. Stet clita kasd gubergren. Et mei aliquip menandri explicari, cum eripuit ponderum persequeris
                    no. Mel te mentitum evertitur. Ut nostrum voluptua luptatum pri. Duo no dolore philosophia. Dicam prompta</P>
            </div>
            <div class="job__paradiv__para__qual">
                <p class="bold">Qualifications</p>
                <P>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                    labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
                    et ea rebum. Stet clita kasd gubergren. Et mei aliquip menandri explicari, cum eripuit ponderum persequeris
                    no. Mel te mentitum evertitur. Ut nostrum voluptua luptatum pri. Duo no dolore philosophia. Dicam prompta</P>
            </div>
        </div>
        <p class="bold">Please send cover letter and resume to <span style="color: yellowgreen">gigs.interlock@gmail.com</span></p>
    </div>
</section>
<footer>
    <div class="footer container">
        <div class="footer__icon" >
            <a href="https://vimeo.com/interlock"> <img class="footer__icon__img" src="../assets/images/vimeo.png" title="Vimeo" l></a>
            <a href="https://www.youtube.com/channel/UCx1EOQLZ0d56v75LlIMD84A"> <img class="footer__icon__img" src="../assets/images/youtube.png" title="Youtube"></a>
            <a href="http://latestatinterlock.blogspot.com/"><img class="footer__icon__img" src="../assets/images/blogger.png" title="Blogger"></a>
            <a href="https://twitter.com/interlockmedia"> <img class="footer__icon__img" src="../assets/images/twitter.png" title="Twitter"></a>
            <a href="https://www.linkedin.com/company-beta/11134113/"> <img class="footer__icon__img" src="../assets/images/linkedin.png" title="LinkedIn"></a>
        </div>
    </div>
</footer>
</body>
</html>